name: 'test'
on:   ['push', 'pull_request']
jobs:
  test:
    strategy:
      fail-fast: false
      matrix: {os: ['ubuntu-latest', 'macos-latest', 'windows-latest']}

    runs-on: ${{ matrix.os }}
    steps:
    - uses: 'actions/setup-go@v6'
      with: {go-version: '1.25'}
    - uses: 'actions/checkout@v6'

    - run: 'go install github.com/toml-lang/toml-test/v2/cmd/toml-test@v2.0.0'

    - if:  runner.os != 'Windows'
      run: 'make check CC=clang'
    - if:  runner.os == 'Windows'
      run: 'make check CC=gcc SANITIZER='
